@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== GLOBAL STYLE ===== */

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #FDFDFD;
  margin: 0;
  overflow-x: hidden;
}

.animate-in {
  animation: animateIn 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

select {
  background-image: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
